@charset "UTF-8" ;

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #ffe53bd8, #ff2525da);
    display: flex;
    justify-content: center;
    align-items: center;
}

.relogio {
    background: transparent;
    height: 200px;
    width: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 5px;
    letter-spacing: 3px;
}

.relogio span {
        font-weight: bolder;
        font-size: 60px;
}

.relogio span.tempo {
    font-size: 10px;
}